body,html{
  height:100%;
}
#app {
  font-family: 'Avenir', Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
  height: 100%;
}
/*过场动画*/
@-webkit-keyframes bounceInLeft {
  from {
    opacity: 0;
    -webkit-transform: translateX(-100%);
    transform: translateX(-100%);
  }
  to {
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }
}

@keyframes bounceInLeft {

  from{
    opacity: 0;
    -webkit-transform: translateX(-100%);
    transform: translateX(-100%);
  }

  to {
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }
}

.bounceInLeft {
  -webkit-animation: bounceInLeft .5s;
  animation: bounceInLeft .5s;
}

@-webkit-keyframes bounceInRight {

  from {
    opacity: 0;
    -webkit-transform: translateX(100%);
    transform: translateX(100%);
  }
  to {
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }
}

@keyframes bounceInRight {

  from {
    opacity: 0;
    -webkit-transform: translateX(100%);
    transform: translateX(100%);
  }

  to {
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }
}

.bounceInRight {
  -webkit-animation: bounceInRight .5s;
  animation: bounceInRight .5s;
}
/*right start*/
 .slide-right-enter-active {
   transition: all .4s ease;
 }

 .slide-right-enter {
   opacity: 0.9;
   transform: translate3d(100%, 0, 0);
   -webkit-transform: translate3d(100%, 0, 0);
 }

 .slide-right-leave {
   transform: translate3d(0, 0, 0);
   -webkit-transform: translate3d(0, 0, 0);
 }

 .slide-right-leave-active {
   transition: all .4s ease;
   opacity: .5;
   transform: translate3d(-20%, 0, 0);
   -webkit-transform: translate3d(-20%, 0, 0);
 }
 /*right end*/
 /*left start*/
 .ms-page.slide-left-enter-active {
   transition: all .4s ease;
   transform: translate3d(0%, 0, 0);
   -webkit-transform: translate3d(0%, 0, 0);
   z-index: 1998;
 }

 .ms-page.slide-left-enter {
   opacity: .5;
   transform: translate3d(-20%, 0, 0);
   -webkit-transform: translate3d(-20%, 0, 0);
   z-index: 1998;
 }

 .ms-page.slide-left-leave {
   transform: translate3d(0, 0, 0);
   -webkit-transform: translate3d(0, 0, 0);
 }

 .ms-page.slide-left-leave-active {
   transition: all .4s ease;
   opacity: 0.9;
   transform: translate3d(100%, 0, 0);
   -webkit-transform: translate3d(100%, 0, 0);
 }
/*left end*/
 .slide-fade-enter-active {
   transition: all .4s ease;
 }

 .slide-fade-leave-active {
   transition: all .4s ease;
 }

 .slide-fade-enter,
 .slide-fade-leave-active {
   padding-left: 10px;
   opacity: 0;
 }
